{% extends "base.html" %}
{% block title %} Level 3 {% endblock %}

{% block content%}

{% if user.stats.level == 2 %}
<h2 align="center" style="margin-bottom: 50px; background: linear-gradient(to right,  #a600ff, rgb(255, 149, 0));
    -webkit-background-clip: text; background-clip: text;
    -webkit-text-fill-color: transparent; font-weight: 700;"> Level 3! </h2>
<h2 align="center" style="margin-bottom: 50px; color: aliceblue;"> Fill in The Blanks and the <span style="margin-bottom: 50px; background: linear-gradient(to top,  #ff80e1, rgb(255, 255, 255));
    -webkit-background-clip: text; background-clip: text;
    -webkit-text-fill-color: transparent;"> The Dots</span> </h2>

        <div style="text-align: center; font-size: 1.5em; max-width: 100%; color: aliceblue;">You might have been familiar with 'Fill in the Blank'. Now try this out, Fill in the blanks and the dots!</div>

        <div class="box">
            <div class="container-box">
                <p style="font-size: larger; color: beige;">
                    {% if goat=='messi' or goat=='mbappe' or goat=='neymar' %}
                        'You are -..   .   .-   -..'
                    {% else %}
                        'You are --.   ---   ---   -..'
                    {% endif %}
                </p>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <br>
                    <form method="post">
                        <div class="form-group d-flex justify-content-center">
                        <input
                            type = 'answer'
                            class="form-control"
                            id = 'answer'
                            name = "answer"
                            placeholder="Type in your Answer"
                        />
                        </div>
                        <br/>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-light">Go!</button>
                          </div>
                    </form>
                </div>
            </div>
        </div>

{% else %}
    <h4> Access Denied </h4>
    <a href="/"> <p> Go to Home </p> </a>
{% endif %}

{% block css %}
<style>
    body {
    padding-top: 60px;
    background-color: #000000;
    }
    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
        /* height: 100vh; */
      }
      
      /* Set max-width to 80% of the viewport width and add padding */
      .container-box {
        max-width: 80%;
        padding: 20px;
        border: 2px solid rgb(241, 159, 250);
        border-radius: 5px;
      }
      
      /* Make the box responsive to smaller screens */
      @media screen and (max-width: 600px) {
        .container-box {
          max-width: 100%;
        }
      }
</style>
{% endblock %}

{% endblock %}